<center><h1>Pandas</h1></center>

# Pandas

做数据处理和数据分析Pandas库是首选。Pandas库的两个主要数据结构Series（一维）和DataFrame（二维）。

* Series结构
* DataFrame
* 数据的导入导出

# 4.1 Series结构

Series即序列（也称系列），用于存储一行或一列的数据，以及与之相关的索引的集合，使用方法如下。
> Series([数据1, 数据2,…],index=[索引1, 索引2,…])

例如：

In [ ]:
from pandas import Series
X = Series(['a',2,'中国'],index=[1,2,3])
X

一个序列允许存放多种数据类型，索引也可以省略；可以通过位置或者索引访问数据。例如，X[3]，返回“中国”。

Series的索引index可以省略，索引号默认从0开始，也可以指定索引名。为了方便后面的使用和说明解释，此处我们将可以省略的index叫作索引号，也就是默认的索引，从0开始计数；赋值给定的或者命名的index，我们叫它索引名，有时也叫行标签。   
在Spyder中写入以下代码。

In [ ]:
from pandas import Series
A=Series([1,2,3]) #定义序列的时候，数据类型不限
A

In [ ]:
from pandas import Series
A=Series([1,2,3],index=[1,2,3]) #可自定义索引，如索引名123、ABCD等
A

In [ ]:
from pandas import Series
A=Series([1,2,3],index=['A','B','C'])
A

一般容易犯下面的错误。

In [ ]:
from pandas import Series
A=Series([1,2,3],index=[A,B,C])
A

这里A、B、C都是字符串，注意需要使用引号。

访问序列值时，需要通过索引来实现，序列的索引index和值是一一对应的关系

<img src="image/Chapter4_1.png"  width="600" height="600">

In [ ]:
from pandas import Series
A=Series([14,26,31])
A

In [ ]:
A[1]

In [ ]:
A[5] #超出index的总长度会报错

In [ ]:
A=Series([14,26,31],index=['first','second','third'])

In [ ]:
A

In [ ]:
A['second'] #如设置了index参数（索引名），可通过参数来访问序列值

In [ ]:
from pandas import Series
#混合定义一个序列
x = Series(['a', True, 1], index=['first', 'second', 'third'])
x

In [ ]:
x[1] #按索引号访问

In [ ]:
x['second'] #按索引名访问

In [ ]:
x[3]#不能越界访问，会报错

In [ ]:
x.append('2')#不能追加单个元素，但可以追加序列

> In relatively recent pandas version, 1.5.2, append works, but gives a warning.  
In pd 2.0, append has been removed  
https://stackoverflow.com/questions/76102473/how-to-fix-attributeerror-series-object-has-no-attribute-append

In [ ]:
n = Series(['2'])
# Under the covers, append method uses _append, which works without raising the warning:
x._append(n)#追加一个序列
x

In [ ]:
x = x._append(n) #x.append(n)返回的是一个新序列
2 in x.values#判断值是否存在，数字和逻辑型(True/False)是不需要加引号的

In [ ]:
'2' in x.values

In [ ]:
x[1:3]#切片

In [ ]:
x.drop('first') #按索引名删除

In [ ]:
x.index[2]#按照索引号找出对应的索引名

In [ ]:
x.drop(x.index[3])#根据位置（索引）删除，返回新的序列

In [ ]:
x[2!=x.values]#根据值删除，显示值不等于2的序列，即删除2，返回新序列

In [ ]:
#修改序列的值。将True值改为b，先找到True的索引x.index[True==x.values]

# x.index[x.values==True]
x[x.index[x.values==True]]='b'#注意结果，把值为1也当作True处理了

In [ ]:
x

In [ ]:
x.index[x.values=='a']#通过值访问序列index

In [ ]:
s=Series({'a':1 ,'b':2,'c':3}) #可将字典转化为Series
s

Series的sort_index(ascending=True) 方法可以对index进行排序操作，ascending参数用于控制升序或降序，默认为升序，也可使用reindex()方法重新排序。

在Series上调用reindex()方法重排数据，使得它符合新的索引，如果索引的值不存在，就引入缺失数据值。

In [ ]:
from pandas import Series
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])#reindex重排序
obj

# 4.2 DataFrame

DataFrame是用于存储多行和多列的数据集合，是Series的容器，类似于Excel的二维表格。  
对于DataFrame的操作较多的是“增、删、改、查”，其中数据行列位置如下图所示。

<img src='image/Chapter4_2.png' width="400" height="400">

In [ ]:
from pandas import Series
from pandas import DataFrame
#列名及其数据
df=DataFrame({'age':Series([26,29,24]), 'name':Series(['Ken','Jerry','Ben'])}, index=[0,1,2]) #给定的索引
df

In [ ]:
from pandas import Series
from pandas import DataFrame
df=DataFrame({'age':Series([26,29,24]), 'name':Series(['Ken','Jerry','Ben'])}) #索引可以省略
df

注意：DataFrame单词是驼峰写法，索引不指定时也可以省略。使用数据框时，要先从pandas中导入DataFrame包，数据框中的数据访问方式如下表。

<img src='image/Chapter4_3.png' >

In [ ]:
A=df['age'] #获取age列的值
A

In [ ]:
B=df[1:2] #获取索引号是第一行的值(其实是第二行，从0开始的)
B

In [ ]:
C=df.iloc[0:2,0:2] #获取第0行到第2行(不含)与第0列到第2列(不含)的块
C

In [ ]:
D=df.at[0,'name'] #获取第0行与name列的交叉值
D

In [ ]:
D1=df.loc[0,'name']#获取第0行与name列的交叉值，loc在后面再介绍
D1

注意：访问某一行时，不能仅用行的index来访问，如访问df的index为1的行，不能写成df[1]，而要写成df[1:2]。DataFrame的index可以是任意的，不像Series会报错，但显示为“Empty DataFrame”，并列出Columns: [列名]。执行下面的代码并查看运行结果。

In [ ]:
from pandas import DataFrame
df1 = DataFrame({'age': [21, 22, 23],  'name': ['KEN', 'John', 'JIMI']})
df1[1:100] #显示index=1及其以后的99行数据，不包括index=100

In [ ]:
df2 = DataFrame(data={'age': [21, 22, 23],  'name': ['KEN', 'John', 'JIMI']}, index=['first', 'second', 'third'])
df1[2:2] #显示空

In [ ]:
df2["third":"third"] #按索引名访问某一行

In [ ]:
df2["first":"second"] #按索引名访问多行

访问数据框的列

In [ ]:
df1['age'] #按列名访问

In [ ]:
df1[df1.columns[0:1]] #按索引号访问

访问数据框的块

In [ ]:
df1.iloc[1:, 0:1] #按行列索引号访问

In [ ]:
df1.loc[1:,('age','name')] #按行列索引名访问

访问数据框的某个具体的位置

In [ ]:
df1.at[1, 'name'] #这里的1是索引

In [ ]:
df2.at['second', 'name'] #这里的second是索引名

In [ ]:
df2

In [ ]:
df2.at[1, 'name'] #这里用索引号就会报错，当有索引名时，不能用索引号

In [ ]:
df2.loc['first','name']#获取第0行与name列的交叉值

修改索引列名，增删行列的代码如下。

In [ ]:
df1

In [ ]:
df1.columns=['age2', 'name2']#修改列名
df1

In [ ]:
df1.index = range(1,4) #修改行索引
df1

In [ ]:
df1.drop(1, axis=0) #根据行索引删除，axis=0表示行轴，也可以省略

In [ ]:
df1.drop('age2', axis=1) #根据列名进行删除，axis=1表示列轴，不可省略

In [ ]:
df1['newColumn'] = [2, 4, 6] #增加列
df1

In [ ]:
df2.loc[len(df2)]=[24,"Keno"] #增加行。这种方法效率比较低
df2

增加行的办法可以通过合并两个DataFrame来解决。

In [ ]:
from pandas import DataFrame
df = DataFrame([[1, 2], [3, 4]], columns=list('AB')) 
df

In [ ]:
df2 = DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df2

In [ ]:
df._append(df2) #仅把df和df2“叠”起来了，没有修改合并后df2的index

In [ ]:
df._append(df2, ignore_index=True) #修改index，对df2部分重新索引了

注意：合并两个数据框并需要重新更新索引时，需要添加“ignore_index=True”参数。

# 4.3 数据的导入

数据存在的形式多样，有文件（txt、csv、excel）和数据库（MySQL、Access、SQL Server）等形式。在Pandas库中，常用的载入函数是read_csv。除此之外还有read_excel()和read_table()，table()函数可以读取TXT文件。若是服务器相关的部署，则还会用到read_sql()函数，直接访问数据库，但它必须配合MySQL相关的包。

## 1．导入TXT文件

TXT是存储文本信息的格式，即文字信息。这种格式所占空间小。读取TXT文件到Pandas库的语句格式如下。
> read_table(file, names=[列名1,列名2,…], sep="",…)

file：文件路径与文件名。  
names：列名，默认为文件中的第一行作为列名。  
sep：分隔符，默认为空。

<img src="image/Chapter4_4.png"  width="600" height="600">

导入数据首先需要引入相关的库或模块。

from pandas import read_table
df = read_table(r'file\rz.txt', sep=" ")
df.head()   #查看df的前五项数据

注意：  
（1）txt文本文件要保存成UTF-8格式才不会报错。  
（2）查看数据框df前n项数据使用df.head(n)，后m项数据用df.tail(m)。默认均是5项数据。

## 2．导入csv文件

逗号分隔值（Comma-Separated Values，CSV），有时也称为字符分隔值，因为分隔字符也可以不是逗号，其文件以纯文本形式存储表格数据（数字和文本）。纯文本意味着该文件是一个字符序列，不含必须像二进制数字那样被解读的数据。  
CSV文件由任意数目的记录组成，记录间以某种换行符分隔；每条记录由字段组成，字段间的分隔符是其他字符或字符串，最常见的是逗号或制表符。通常，所有记录都有完全相同的字段序列，通常都是纯文本文件。CSV格式常见于手机通信录，可以使用Excel打开。读取CSV数据到Pandas库的语句格式如下。

> read_csv(file,names=[列名1,列名2,..],sep="",…)  

file：文件路径与文件名。  
names：列名，默认为文件中的第一行作为列名。  
sep：分隔符，默认为空，表示默认导入为一列。

In [ ]:
from pandas import read_csv
df = read_csv(r'file\stock_data_bac.csv',sep=",")
df.tail(5)

使用read_table命令也能执行，结果与read_csv一致

## 3．导入Excel文件

Excel是常见的存储和处理数据的软件，其保存的数据文件有两种格式的后缀名xls和xlsx，read_excel都能读取，但比较敏感，在读取时注意后缀名。读取Excel数据到Pandas库的语句格式如下。

> read_excel(file, shee_tname,header=0)

file：文件路径与文件名。 
sheet_name：sheet的名称，如：sheet1。  
header：列名，默认为0（只接受布尔型0和1），文件的第一行作为列名。

注：Pandas 0.21以前版本在读取Excel时，参数'sheetname'更新为'sheet_name'。查阅Pandas的版本号，代码：Print(pd_Version_)。

In [ ]:
from pandas import read_excel
df = read_excel(r'file\db_data.xls',sheet_name='Sheet1')
df.head(7)

注意：header取0和1的差别，取0表示第一行作为表头显示，取1表示第一行丢弃不作为表头显示。有时可以跳过首行或者读取多个表，如下： 
> df = pd.read_excel(filefullpath, sheet_name=[0,2],skiprows=[0]) 

sheet_name可以指定为读取几个表sheet，sheet数目从0开始，如果shee_tname=[0,2]，则代表读取第1页和第3页的sheet，skiprows=[0]代表读取时跳过第1行。

In [ ]:
## 4．导入MySQL库

在Python中操作MySQL的模块是pymysql，在导入MySQL数据之前，需要安装pymysql模块。目前由于MySQLdb模块还不支持Python3.x，所以Python3.x如果想连接MySQL需要安装pymysql模块。安装pymysql如图所示，命令为pip install pymysql。

<img src="image/Chapter4_5.png"  width="600" height="600">

读取数据到Pandas库的语句格式如下。  
>     read_sql(sql,conn)

sql：从数据库中查询数据的SQL语句。  
conn：数据库的连接对象，需要在程序中选创建。  
示例代码如下。

In [ ]:
import pandas as pd
import pymysql
dbconn=pymysql.connect(host="localhost",
                          database="kimbo",
                          user="root",
                          password="123456",
                          port=3306,
                          charset='utf8') #加上字符集参数，防止中文乱码
sqlcmd="select * from tb_user"   #sql语句
a=pd.read_sql(sqlcmd,dbconn)   #利用pandas模块导入mysql数据
dbconn.close()
b=a.head()    #取前5行数据
print(b)

# 4.4 数据的导出

## 1．导出为csv文件

> to_csv(file_path,sep= ", ", index=True, header=True)

file_path：文件路径。  
sep：分隔符，默认是逗号。  
index：是否导出行序号，默认是True，导出行序号。  
header：是否导出列名，默认是True，导出列名。

In [ ]:
from pandas import DataFrame
from pandas import Series
df = DataFrame({'age':Series([26,85,64]),'name':Series(['Ben','John','Jerry'])})
df

In [ ]:
df.to_csv(r'file\01.csv')      #默认带上index列
df.to_csv(r'file\02.csv',index=False) #无index

<img src="image/Chapter4_6.png"  width="400" height="400">

## 2．导出为excel文件

> to_excel(file_path, index=True,header=True)

file_path：文件路径。  
index：是否导出行序号，默认是True，导出行序号。  
header：是否导出列名，默认是True，导出列名。

In [ ]:
from pandas import DataFrame
from pandas import Series
df = DataFrame({'age':Series([26,85,64]),'name':Series(['Ben','John','Jerry'])})

In [ ]:
df.to_excel(r'file\01.xlsx') #默认带上index
df.to_excel(r'file\02.xlsx',index=False)#无index

<img src="image/Chapter4_7.png"  width="400" height="400">

## 3．导出到MySQL库

to_sql(tableName, con=数据库链接)  
tableName：数据库中的表名。  
con：数据库的连接对象，需要在程序中选创建。  
示例代码如下。

In [ ]:
#Python3.11下利用pymysql将DataFrame文件写入到MySQL数据库 
from pandas import DataFrame
from pandas import Series
from sqlalchemy import create_engine
#启动引擎
# engine = create_engine("mysql+pymysql://user:password@host:port/databasename?charset=utf8")
engine = create_engine("mysql+pymysql://root:123456@localhost:3306/kimbo",encoding='utf-8', echo=True)
#这里一定要写成mysql+pymysql，不要写成mysql+mysqldb
# user:password是账户和密码，host:port是访问地址和端口，databasename是库名
#DataFrame数据
df = DataFrame({'age':Series([26,85,64]),'name':Series(['Ben','John','Jerry'])})

In [ ]:
#存入mysql
df.to_sql(name = 'mysql_output',
          con = engine,
          if_exists = 'append',
          index = False,
          index_label = False)

mysql+mysqldb：要用的数据库和需要用的接口程序。  
root：数据库账户。  
password：数据库密码。  
host：数据库所在服务器的地址。  
port：mysql占用的端口。  
databasename：数据库的名字。  
charset=utf8：设置数据库的编码方式，这样可以防止latin字符不识别而报错。

# 4.5 实战体验：输出符合条件的属性内容

<b>需求</b>：现有一张Excel表。表中有多个字段，其中有“申请日”和“发明人”，发明人字段中的发明人一般含有多个人，但都用“；”分隔开了，如图所示。请将所有含有发明人“吴峰”的发明专利的“申请日”打印出来，<font color="red">并将含有发明人“吴峰”的所有发明专利条目保存到Excel中。</font>

首先接收数据。把数据导入，并查看数据的类型。

In [ ]:
# -*- coding: utf-8 -*-

#接收数据
from pandas import read_excel 
df = read_excel(r"file\zhuanli.xls")
#查看数据
df.head()

<img src="image/Chapter4_8.png"  width="900" height="900">

提取“发明人”这一列数据作为被处理对象。目的是将“发明人”这一列数据中的每一行作为一个列表，每个发明人名就是其中的一个元素，主要是为了方便判断“吴峰”在不在这一行。为了将人名分隔开，我们将使用split()函数按照人名间的“；”进行分隔。

In [36]:
#提取“发明人”这一列并查看
fmr = df['发明人']
fmr.tail(10)
len(fmr)
#将“发明人”这一列做成列表fmr_list，每一行（多个发明人）就是一个元素
fmr_list = map(lambda x:fmr[x],list(range(len(fmr))))
fmr_list = list(fmr_list)
#将“fmr_list”每一行元素按照“；”把它隔开做成列表，每个发明人就是fmr_list列表中的元素列表的元素
fmr_list_0 = []
k = 0
for i in range(len(fmr_list)):    
     fmr_list_0.append(fmr_list[k].split(';'))
     k += 1
fmr_list_0

[['吴峰', '吴永升', '蔡永厚'],
 ['吴峰', '吴永升', '周荣荻'],
 ['吴峰', '吴永升', '翟燕'],
 ['吴峰', '吴永升', '翟燕'],
 ['吴华锋', '涂宋芳'],
 ['吴华锋', '涂宋芳'],
 ['吴华锋', '涂宋芳'],
 ['吴华锋', '涂宋芳'],
 ['吴峰', '张启运', '魏庆农', '蔡永厚', '刘洪平'],
 ['吴峰', '张启运', '魏庆农', '蔡永厚', '刘洪平'],
 ['曹明润', '张亚东', '徐勇', '周慧'],
 ['高鑫', '蔡永厚', '汪升', '张勇', '徐勇'],
 ['蔡永厚', '姚佳佳', '徐勇', '汪升', '高鑫'],
 ['高鑫', '蔡永厚', '汪升', '张勇', '徐勇'],
 ['蔡永厚', '张启运', '徐勇', '宋修明', '何建平'],
 ['吴峰', '高闽光', '王锋平', '张玉钧', '李相贤', '刘文清', '常国涛', '宋修明', '吴文明'],
 ['吴峰', '张玉钧', '高闽光', '何莹', '徐金凤', '刘建国', '尤坤', '蔡永厚', '宋修明', '黄永峰'],
 ['蔡永厚', '张启运', '徐勇', '宋修明', '何建平'],
 ['吴峰', '张玉钧', '高闽光', '何莹', '徐金凤', '刘建国', '尤坤', '蔡永厚', '宋修明', '黄永峰'],
 ['吴峰', '高闽光', '王锋平', '张玉钧', '李相贤', '刘文清', '常国涛', '宋修明', '吴文明'],
 ['吴峰',
  '高闽光',
  '王锋平',
  '张玉钧',
  '李相贤',
  '刘文清',
  '常国涛',
  '宋修明',
  '吴文明',
  '盛放',
  '魏庆农',
  '黄永峰'],
 ['宋修明', '吴峰', '盛放', '魏庆农', '黄永峰'],
 ['吴峰',
  '张玉钧',
  '高闽光',
  '何莹',
  '徐金凤',
  '刘建国',
  '尤坤',
  '蔡永厚',
  '宋修明',
  '黄永峰',
  '盛放',
  '魏庆农'],
 ['吴峰',
  '高闽光',
  '王锋平',
  '张玉钧',
  '李相贤',
  '刘文清',
  '常国涛',
  '宋修明',
  '吴文明',
  '盛放',
  '魏庆农',
  '黄永峰'],
 ['吴峰',
  '张玉钧',
  '高闽光',
  '何莹',
  '徐金凤',
  '刘建国',
  '尤坤',
  '蔡永厚',
  '宋修明',
  '黄永峰',
  '盛放',
  '魏庆农'],
 ['徐勇', '万力', '张启运', '魏庆农'],
 ['徐勇', '万力', '张启运', '魏庆农'],
 ['汪升', '蔡永厚', '高鑫', '郑明生'],
 ['汪升', '蔡永厚', '高鑫', '郑明生'],
 ['汪升', '蔡永厚', '高鑫', '郑明生'],
 ['周俊', '魏庆农', '万力', '朱壮志', '刘树峰', '常国涛', '戴江根'],
 ['张启运', '闫闯', '周俊', '张亚东', '蔡永厚', '周慧', '汪彬'],
 ['汪升', '曹明润', '吴紫恒', '蔡永厚', '郑明生', '徐勇', '高鑫'],
 ['徐勇', '刘强', '汪升', '常国涛', '张启运'],
 ['徐勇', '周俊', '魏庆农', '万力', '朱壮志', '周慧', '刘树峰', '常国涛', '戴江根'],
 ['曹明润', '徐勇', '汪升'],
 ['蔡永厚', '姚佳佳', '汪升', '张勇'],
 ['曹明润', '贠国强'],
 ['汪升', '刘强', '徐勇', '常国涛', '张启运'],
 ['蔡永厚', '姚佳佳', '汪升', '张勇'],
 ['徐勇', '周俊', '魏庆农', '万力', '朱壮志', '周慧', '刘树峰', '常国涛', '戴江根'],
 ['周俊', '魏庆农', '万力', '朱壮志', '刘树峰', '常国涛', '戴江根'],
 ['张启运', '闫闯', '周俊', '张亚东', '蔡永厚', '周慧', '汪彬'],
 ['徐勇',
  '汪升',
  '曹明润',
  '王腾飞',
  '张亚东',
  '姚佳佳',
  '张卫星',
  '万力',
  '刘树峰',
  '周旸旻',
  '高鑫',
  '郑明生',
  '汤玉美',
  '王艳'],
 ['徐勇',
  '汪升',
  '曹明润',
  '王腾飞',
  '张亚东',
  '姚佳佳',
  '张卫星',
  '万力',
  '刘树峰',
  '周旸旻',
  '高鑫',
  '郑明生',
  '汤玉美',
  '王艳'],
 ['汪升', '徐勇', '万力', '蔡永厚', '姚佳佳', '曹明润', '张立', '张卫星', '王腾飞'],
 ['高鑫', '查振春', '吴渝', '汪升', '徐勇'],
 ['汪升', '徐勇', '万力', '蔡永厚', '姚佳佳', '曹明润', '张立', '张卫星', '王腾飞'],
 ['高鑫', '查振春', '吴渝', '汪升', '徐勇'],
 ['高鑫', '程昕', '王友俊', '汪升', '徐勇']]

In [37]:

#判断每行（fmr_list中的每个元素）是否含有发明人“吴峰”，有，输出1，无，输出0，并按序做成一个index_0的列表
index_0 = []
p = 0
q = "吴峰"
for j in fmr_list_0:
     if q in fmr_list_0[p]:
          index_0.append(1)
     else:
          index_0.append(0)
     p +=1
index_0

[1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [38]:
#为了看得方便，直接将对应的0、1带上了索引号
ind = []
for (index, index_0) in enumerate(index_0):
     ind.append((index, index_0))

ind

[(0, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (4, 0),
 (5, 0),
 (6, 0),
 (7, 0),
 (8, 1),
 (9, 1),
 (10, 0),
 (11, 0),
 (12, 0),
 (13, 0),
 (14, 0),
 (15, 1),
 (16, 1),
 (17, 0),
 (18, 1),
 (19, 1),
 (20, 1),
 (21, 1),
 (22, 1),
 (23, 1),
 (24, 1),
 (25, 0),
 (26, 0),
 (27, 0),
 (28, 0),
 (29, 0),
 (30, 0),
 (31, 0),
 (32, 0),
 (33, 0),
 (34, 0),
 (35, 0),
 (36, 0),
 (37, 0),
 (38, 0),
 (39, 0),
 (40, 0),
 (41, 0),
 (42, 0),
 (43, 0),
 (44, 0),
 (45, 0),
 (46, 0),
 (47, 0),
 (48, 0),
 (49, 0)]

In [39]:
#将输出为1所对应的索引号做成一个列表rq，打印出df中含有rq列表中的索引号所对应的日期——“申请日”
rq =[]
for elment in ind:
     if elment[1] == 1:
          rq.append(elment[0])
          print(elment[0])
    
for j in rq:
     print(df['申请日'][j])
len(rq)

0
1
2
3
8
9
15
16
18
19
20
21
22
23
24
2008.03.27
2008.03.27
2008.08.26
2008.08.26
2012.01.04
2012.01.04
2013.11.01
2013.11.01
2013.11.01
2013.11.01
2013.12.13
2013.12.13
2013.12.13
2013.12.13
2013.12.13

15

<b>将结果保存到Excel中。</b>

In [40]:
#先要造一个跟原数据列表相同的列
##方法1
df0 = df.copy()
df0.drop(df0.index,inplace=True)

In [ ]:
##方法2
# import pandas as pd
# col = df.columns
# df0 = pd.DataFrame(columns = col)

In [41]:
# #将提取出来的数据放入数据列表df0中
m = 0
for i in rq:
     df0.loc[m] = df.loc[i]
     m += 1
len(df0)  
# 将数据列表保存到Excel中
df0.to_excel(r"file\output_zhuanli.xlsx")